<ul class="notification">
	<div id="notificationContainer">
		<div id="notificationTitle">Notifications</div>
		<div id="notificationsBody" class="notifications">
			<ul id="notificationList">
				<%= render 'notification/notification' %>
			</ul>
		</div>
		<div id="notificationFooter"></div>
	</div>
</ul>