<div class="home">
	<h5 class="follow-heading"><b>Who to Follow</b></h5>
	<p class="follow-para">To add your profile to list <u>get verified</u> for free or<u>upgrade to pay subscription</u></p>
	<% @users.each do |user| %>
	<div class="row">
		<%#%>
			<div class="col-md-3 follow-img">
					<p>
						<%= image_tag user.image %>

						<b><%= current_user.username.capitalize %></b>
			
					</p>
					<div>
						<%if current_user.followees.include?(user) %>
						<%# byebug %>
						following
							<%#= button_to 'Following',follow_user_path ,method: :post%>
						<% else %>
							<%= button_to 'Follow',follow_user_path , method: :post %>
						<% end %>
					</div>
			</div>
			<div class="col-md-3 follow-img">
				hello
			</div>
		<% #end %>
	</div>
		


	<% end %>
</div>