<div >
	<%= form_with model: [@post],remote:true do |form| %>
		<p>
			<%#= form.label :post %>
			<%= form.rich_text_area :post,placeholder: "what's on your mind?" %>
			<%#= form.text_field :name, class: "name", placeholder: "name" %>
		</p>
		<p>
			<%= form.hidden_field :user_id , :value => current_user.id %>
			<%# byebug %>
		</p>
		<p>
			<input type="hidden" name="postredirect" value="1"/> 
		</p>
		<p>
			<%= form.submit id: "post_button" %>
		</p>
	<% end %>
</div>


