// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home{
	position: absolute;
	width: 500px;
	left: 295px;
	margin-left: 0px;
   	width: 683px;
   	display-inline:block;
}
.home2{
	background-color: white;
    height: 600px;
    position: relative;
    top: 30px;
    left: 966px;
    width: 300px;
    display-inline:block;
}
.post_index{
	margin:20px;
	border:2px solid #80808042;
	border-radius: 2px;
	box-shadow: -2px 2px 4px 3px #80808042;
	border-style:none;
}
.post_form{
	margin-top: 10px;
	margin: 10px;
	
}
.post_logo{
	color: grey;
	margin: 10px;
}

.post_box{
	margin:20px;
	border:2px solid #80808042;
	border-radius: 2px;
	box-shadow: -2px 2px 4px 3px #80808042;
	border-style:none;
	display-inline:block;
}
.form-input{
	border-style:none;
	
}

.user_data a:link {
	margin-top: 10px;
	text-decoration:none; 
}
.link{
	color: black;
}
	
.post-data{
	margin-left: 10px;
}

.edit-button{
	
	margin-top: 10px;
	margin-left: 190px;
	border-style: none;
	color: grey;
}
.userdetails{
	border:2px solid #80808042;
	border-radius: 2px;
	box-shadow: 4px 2px 4px 3px #80808042;
	border-style: none;
	display-inline:block;
	position: relative;
	top: 10px;
	height: 180px;
	background-color: white;
}
.post-count{
	position:absolute;
	left: 20px;

}
.post-followers{
	position: absolute;
	left: 80px;

}
.post-following{
	position: absolute;
	left: 169px;
	
}
.user-details b{
	margin-left: 10px;

}
.user-details p{
	margin-top: 20px;
}

.follow-heading{
	margin-top: 30px;
}
.follow-para{
	color: grey;
}
.like-icon{
	position:relative;
}
.comment-icon{
	position: absolute;
    left: 118px;
    margin-top: -23px;
}
.index-icon{
	position: absolute;
	position: absolute;
    left: 225px;
    margin-top: -23px;
}
.image{
	height: 38px;
    width: 35px;
    border: 2px solid red;
}
.row{
	margin: 5px;
}
.follow{
	border-radius: 23px;
    margin-top: 7px;
  
    text-align: center;
    border: 2px solid red;
    color: red;
    font-size: 14px;
    padding: 4px;
    margin: 5px;
    width: 84px;
}
.b1{
	position: absolute;
    left: 56px;
    color: black;
}
.active{
	background-color: red !important;
}