// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#post_button{
	
	background-color: white;
    margin-left: 507px;
    margin-bottom: 8px;
    color: red;
    border: 1px solid red;
    border-radius: 28px;
}