
<% if user_signed_in? %>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">GOJI</a>
  
    <!-- Links -->
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul> -->
    <div>
      <input id="search", placeholder="search",class="search_bar">
      <button type="submit" class="search_button"><i class="fa fa-search"></i></button>
      <!-- <i class = 'fa fa-search'></i> -->
    </div>
    <ul class="navbar-nav">
    <li class="nav-item">

      <a class="nav-link" href="#"> <i class='fa fa-home'></i>  Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-comment-dots"></i>  Chat</a> 
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="#">|</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
    </li>
  </ul>
  <div class='image'>
    <!-- <img src="/assets/avatar2.png" id="image"> -->
    <%=image_tag current_user.image ,id: "image" %>
  </div>
  </nav>
<% end %>
