<% if user_signed_in? %>
	
	<%# byebug %>
	<%# %>
		<div class="sidenav">
			
			
			<div>
				<h3 class="home-side">Home</h3>
				<div class="icon"><i class="fas fa-ellipsis-h"></i></div>
			</div>
			<div>
				<h6>Menu</h6>
				<ul>
					<li><i class="fa fa-home"></i><span>Home</span></li>
					<li><i class="fa fa-bell"></i> <span>Notification</span></li>
					<li><i class="fas fa-user-plus"></i><span>Follow</span></li>
					<li><i class="fa fa-home"></i><span>Home</span></li>
				</ul>
				
			</div>
		  	
		</div>

<%end %>